$left_side_visible_size: $screen-standard;
$screen-medium: 1200px;

$font_left: 'GorditaMedium';
$font_right_1: 'RingsideMedium';
$font_right_2: 'GintoRegular';
$font_right_3: 'Gordita';

$right_corner_color: #202124;
$right_title_color: #000000;
$right_subtitle_color: #999999;
$right_input_color: #999999;
$right_button_color: #ffffff;

$top_margin: 667px;

$logo_font_size: 1.6rem;
$logo_left_x: 22px;
$logo_top_y: 22px;
$logo_left_x_mobile: 22px;
$logo_top_y_mobile: 22px;

$left_panel_padding_bottom: 28.4rem;
$left_panel_padding_right: 3.8rem;
$left_panel_descriptioin_padding_top: 8.6rem;
$left_panel_descriptioin_padding_bottom: 0.6rem;

$body_width_l: 39rem;
$body_width_m: 30rem;
$body_width_s: 25rem;

$body_padding_left: 0;//5.5rem;

$right_sing_up_font_size: 2.4rem;
$right_lbl2_font_size: 1.56rem;
$right_lbl2_margin-top: 0.6rem;
$right_lbl2_margin-bottom: 6.8rem;
$right_lbl2_margin-top_s: 0.2rem;
$right_lbl2_margin-bottom_s: 1rem;

$email_font_size: 1.34rem;
$email_font_size_s: 1.2rem;

$fotter_font_size: 1.55rem;
$fotter_font_size_s: 1.2rem;


$email_height: 4rem;
$email_height_s: 4rem;

$email_margin-bottom: 1rem;
$email_margin-bottom_s: 0.5rem;

$singup_btn_height: 4.8rem;
$singup_btn_height_s: 4rem;

$singup_btn_margin-top: 1.5rem;
$singup_btn_margin-top_s: 1rem;

$singup_btn_margin-bottom: 4.3rem;
$singup_btn_margin-bottom_s: 1.8rem;

$trouble_margin-bottom: 1.2rem;
$trouble_margin-bottom_s: 0rem;

$right_bottom_line_color: #F7F7F7;

$fotter_height: 8rem;
$fotter_height_s: 5rem;

$btn-primary-color: #1267fb;
