//       SUMMARY TABLE     
// =========================
// 1. Colors
// 2. Fonts
// 3. Animations
// 4. Values
// =========================


// 1. Colors
// =========================


// 2. Fonts
// =========================


// 3. Animations
// =========================
$smooth : cubic-bezier(0.15, 0.9, 0.34, 0.95);
$smooth2: cubic-bezier(0.645, 0.045, 0.355, 1);
$sharp : cubic-bezier(0.40,0.00,0.60,1.00);


// 4. Values
// =========================
$screen-limit: 99999px;
$screen-max: 1680px;
$screen-desktop: 1024px;
$screen-standard: 976px;
$screen-tablet: 768px;
$screen-mobile: 640px;
$screen-min: 320px;
$iphone5-height: 568px;
$iphone6-height: 667px;
$iphoneX-height: 812px;
$galaxyS5-height: 640px;
$iphone6-height: 667px;
$ipad-height: 1024px;


$font_left: 'GorditaMedium';
$logo_font_size: 1.6rem;
$logo_top_y: 22px;
$logo_left_x_mobile: 22px;
$logo_top_y_mobile: 22px;

$title_top_y: 60px;
$title_top_y_mobile: 40px;

$right_corner_color: #202124;
$right_title_color: #000000;
$right_subtitle_color: #999999;
$right_input_color: #999999;
$right_button_color: #ffffff;