
@font-face {
    font-family: 'Gordita';
    src: url('fonts/GorditaRegular.woff2') format('woff2'),
        url('fonts/GorditaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GorditaMedium';
    src: url('fonts/GorditaMedium.woff2') format('woff2'),
        url('fonts/GorditaMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'GintoThin';
    src: url('fonts/Ginto-Thin.woff2') format('woff2'),
        url('fonts/Ginto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GintoLight';
    src: url('fonts/GintoNord-Light.woff2') format('woff2'),
        url('fonts/GintoNord-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GintoRegular';
    src: url('fonts/Ginto-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans';
    src: url('fonts/WorkSans-Regular.woff2') format('woff2'),
        url('fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'WorkSansLight';
    src: url('fonts/WorkSans-Light.woff2') format('woff2'),
        url('fonts/WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

// @font-face {
//     font-family: 'RingsideMedium';
//     src: url('fonts/Ginto-Regular.ttf') format('fft'),
//         url('fonts/Ginto-Regular.ttf') format('ttf');
//     font-weight: 100;
//     font-style: normal;
// }




