<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>AI Based Github User Analyzer</title>

    <script src="http://d3js.org/d3.v2.js"></script>
    <style>

path.line {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

.domain {
    stroke-width: 1px;
}

circle {
    cursor: pointer;
}

.axis {
    shape-rendering: crispEdges;
}

.axis line, .axis path {
    stroke-width: 1px;
    stroke: #000;
    fill: none;
}

.tooltip {
    display: none;
}

.tooltip.active {
    display: block;
}

.tooltip rect {
    fill: #ff0000;
}

    </style>

</head>
<body>

    <h1>Hello World using d3.js &amp; Flask</h1>



    <div id="plot">
    </div>

    <script>

        // Set up the plot window.


    </script>

</body>
</html>
