<!DOCTYPE html>
<html>

<head>

	<!-- //// META \\\\ -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>AI Based Code Analyzer</title>
	<meta name="description" content="Turing website">
	<meta name="keywords" content="private, turing, website">
	
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/site.webmanifest">
	<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link href="css/compiled/styles.css" rel="stylesheet">

	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">

</head>

<body>
	<main>
		<div id="logo-container" class="layout-logo">
			<a href="https://turing.com">
				<h2 id="turing-logo" class="to-split-word animate">Turing</h2>
			</a>
		</div>

		<div id="input-container" class="step-container" style="display: block">
			<h2 class="title to-split-word animate">Input url of Github user or repository</h2>
			<h2 class="title sub to-split-word animate">e.g. https://github.com/tensorflow</h2>
			<input type="text" id="name" value="" placeholder="" aria-label="Your name" spellcheck="false" />
			<div id="label-name" class="label">
				<div class="container">
					<div class="to-split-word-horizontal">Then press enter or click here</div>
					<div id="label-name-arrow" class="label-arrow"></div>
				</div>
			</div>

			<a href="#list">
				<h2 class="title sub to-split-word animate">Goto List by click here</h2>
			</a>

			<br/>

			<a href="#package?javascript">
				<h2 class="title sub to-split-word animate">Goto Javascript Packages by click here</h2>
			</a>

			<br/>

			<a href="#package?python">
				<h2 class="title sub to-split-word animate">Goto Python Packages by click here</h2>
			</a>
		</div>

		<div id="thanks-container" class="step-container" style="display: none">
			<h2 class="title to-split-word animate">Bot is analyzing what you entered</h2>
			<div id="label-thanks" class="label">
				<div class="container">
					<a href="#list">
						<div class="to-split-word-horizontal">You can check the result by click here</div>
					</a>
					<div id="label-thanks-arrow" class="label-arrow"></div>
				</div>
			</div>
		</div>

		<div id="list-container" class="step-container" style="display: none">
			<h2 class="title to-split-word animate">List of processing User or Repositories</h2>
			<div id='list-processing' class="datatable">
				<table id='table-processing'></table>
			</div>

			<a href="/">
				<h2 class="title sub to-split-word animate">Go back Home by click here</h2>
			</a>
		</div>

		<div id="lang-container" class="step-container" style="display: none">
			<h2 class="title to-split-word animate">Language Stats of Repository</h2>
			<h2 id='github-url' class="title sub to-split-word animate">https://github.com/tensorflow</h2>
			<h2 id='empty-reason' class="title sub to-split-word animate">Bot couldn't analyze above url, maybe because it exceeds 100MB or it is invalid url</h2>
			<div id='lang-stats' class="datatable">
				<table id='table-langs'></table>
			</div>			

			<a href="#list">
				<h2 class="title sub to-split-word animate">Go back List by click here</h2>
			</a>
		</div>

		<div id="package-list-container" class="step-container" style="display: none">
			<h2 id='lang-package' class="title to-split-word animate">Overall Package Usage</h2>
			<!-- <h2 id='github-url' class="title sub to-split-word animate">https://github.com/tensorflow</h2> -->
			<!-- <h2 id='empty-reason' class="title sub to-split-word animate">Bot couldn't analyze above url, maybe because it exceeds 100MB or it is invalid url</h2> -->
			<div id='package-list' class="datatable">
				<table id='table-package'></table>
			</div>

			<a href="/">
				<h2 class="title sub to-split-word animate">Go back Home by click here</h2>
			</a>
			<br/>
			<a href="#list">
				<h2 class="title sub to-split-word animate">Go back List by click here</h2>
			</a>
		</div>
		

		<div id="custom_cursor" class="hide"></div>
	</main>
	<script src="js/libs/mobile-detect/mobile-detect.min.js"></script>
	<script src="js/libs/jquery/jquery.min.js"></script>
	<script src="js/libs/jquery/jquery.dataTables.min.js"></script>
	<script src="js/libs/navigo/navigo.min.js"></script>
	<!-- <script src="js/libs/smooth-scrollbar/smooth-scrollbar.js"></script> -->
	<script src="js/index.js"></script>
	<!-- <script src="http://d3js.org/d3.v2.js"></script> -->

</body>

</html>