<!DOCTYPE html>
<html class="homepage">

<head>

	<!-- //// META \\\\ -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Turing</title>
	<meta name="description" content="Turing website">
	<meta name="keywords" content="private, turing, website">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/site.webmanifest">
	<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- //// CSS \\\\ -->
	<link href='css/compiled/styles.css' rel="stylesheet">

</head>

<body>

	<div id="info">
		<div id="point-info">
			Click on a point.
		</div>
	</div>

	<!--<main id="main">-->
		<!--<div class="step full">-->
			<!--<div class="step-top">-->
				<!--<div class="container">-->
					<!--<a href="../">-->
						<!--<h2 id="turing-logo" class="to-split-word animate">Turing</h2>-->
					<!--</a>-->
					<!---->
					<!--<div class="avatar">-->
						<!--<span id="avatar-label"></span>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->

			<!--<div id="name-container" class="step-container">-->
				<!--<h2 class="to-split-word animate">Input url of Github user or repository</h2>-->
				<!--<input type="text" name="name" id="name" value="" placeholder="" aria-label="Your name" autofocus autocomplete="name" spellcheck="false" />-->
				<!--<div id="label-name" class="label">-->
					<!--<div class="container">-->
						<!--<div class="to-split-word-horizontal">Then press enter or click here</div>-->
						<!--<div id="label-name-arrow" class="label-arrow"></div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!---->
			<!--<div id="company-container" class="step-container" style="display: none">-->
				<!---->
				<!--<h2 class="to-split-word animate">Your Company's name</h2>-->
				<!--<input type="text" name="company" id="company" value="" placeholder="" aria-label="Your Company name" autocomplete="organization" spellcheck="false" />-->
				<!--<div id="label-company" class="label">-->
					<!--<div class="container">-->
						<!--<div class="to-split-word-horizontal">Then press enter or click here</div>-->
						<!--<div id="label-company-arrow" class="label-arrow"></div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>			-->
		<!--</div>-->
	<!--</main>-->
	<!--<div id="custom_cursor" class="hide"></div>-->
	<!--<span id="company-name-ruler"></span>-->
	<!--&lt;!&ndash; Scripts &ndash;&gt;-->
	<!--<script src="js/libs/mobile-detect/mobile-detect.min.js"></script>-->
	<!--<script src="js/libs/jquery/jquery.min.js"></script>-->
	<!--<script src="js/libs/navigo/navigo.min.js"></script>-->
	<!--<script src="js/libs/smooth-scrollbar/smooth-scrollbar.js"></script>-->
	<!--<script src="js/index.js"></script>-->
	<script src="http://d3js.org/d3.v2.js"></script>


</body>

</html>